//Se importa libreria y modulos de la aplicación
@import "bootstrap/scss/bootstrap";
@import "./homePage.scss";
@import "./homePageMedia.scss";
@import "./styles.scss";
@import "./header.scss";


.container {
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    padding-top: 2%;
}

.content {
    flex: 0 0 30%;
    text-align: center;
    padding: 20px;
}

body {

    overflow-x: hidden;
    width: 100%;

}