.navbar {
    background-color: #f5ac0f;
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
    padding: 0px 0px 20px 0px;
    width: 100%;
    height: 95px;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.navbar li {
    margin-right: 50px;
}

.navbar a {
    color: #fff;
    text-decoration: none;
    font-size: 15px;
    font-weight: 700;
}

.navbar p {
    color: #fff;
    text-decoration: none;
    font-size: 15px;
    font-weight: 700;
}

.logo-empeno {
    width: 180px;
    margin-right: 30vw;
    margin-bottom: 15px;

}


.navbar-toggler {

    margin-right: 30px;
    background-color: #fff;
    border-color: #fff;
    /* Cambia el color del borde del botón de hamburguesa */
}


@media (max-width: 768px) {

    .logo-empeno {
        width: 120px;
        margin-left: 5vw;
        margin-right: 15vw;
        margin-top: 6px;

    }

    .navbar {

        height: auto;
    }

}