/* Estilos para pantallas más pequeñas, como tablets */
@media (max-width: 480px) {
    .banner-overlay {
        width: auto;
    }

    .banner-overlay h1 {
        font-size: 1.5rem;
    }

    .title {
        font-size: 1.5rem;
    }

    .boton-banner {
        font-size: 14px;
        padding: 0.4rem 0.8rem;
    }

    .banner-overlay p {
        font-size: 1rem;
    }

    .banner-image {
        height: 200px;
        /* Ajustar altura de la imagen */
    }

    /* Otros estilos responsivos para otros elementos según sea necesario */
}


@media (max-width: 768px) {

    .banner-overlay {

        text-align: center;
        position: static;
        transform: none;
        bottom: 0;
        background-color: hsl(209, 100%, 32%);
        width: 100%;
        padding: 50px 3%;
        border-radius: 0px;
        justify-content: center;
        height: 100%;

    }

    .banner-overlay h1 {
        font-size: 1.6rem;
        transform: skew(0deg);
    }

    .title {
        font-size: 1.8rem;
    }

    .boton-banner1 {
        font-size: 16px;
        padding: 0.5rem 1rem;
    }

    .banner-overlay p {
        transform: skew(0deg);
        color: #fff;
        font-weight: 400;
        margin: 4%;
        line-height: 1.5em;
        font-size: 1.2rem;
        margin: 40px 0;
    }

    .banner-image {
        display: none;
    }


    .banner-boton {

        margin-bottom: 40px;

    }






    .container-tienda {
        background-color: #f5ac0f;
        padding: 1% 0% 1% 0%;
        width: 100%;
        text-align: center;
        padding: 40px 20px 50px 20px;

    }

    .icono-tienda {

        display: flex;
        align-content: center;
        justify-content: center;

    }

    .icono-tienda img {

        width: 65px;
        height: 60px;
        margin-right: 10px;

    }

    .titulo-tienda h2 {

        font-size: 1.5rem;
        margin: 30px 0;

    }

    .titulo-tienda p {

        font-size: 1.3rem;

    }





    .section-recompensas {
        text-align: center;
        padding-bottom: 0rem;
    }

    .section-recompensas .content .cont-img {
        margin: 0;
        padding: 0;
    }

    .section-recompensas .content .cont-img img {
        width: 85%;
        height: auto;
    }

    .section-recompensas .content .container-bubbles {
        text-align: left;
        margin-top: 2rem;
        max-width: 100%;
    }

    .section-recompensas .content .container-bubbles .ezplus-logo {
        width: 75%;
        height: auto;
        margin-bottom: 30px;

    }

    .section-recompensas .content .bubble {
        background-color: #0054a3;
        color: #fff;
        max-width: 30rem;
        padding: 0.83em;
        display: inline-block;
        vertical-align: top;
        border-radius: 1.67em 1.67em 1.67em 0;
        font-size: 1.2rem;
        line-height: 1.5em;
        font-weight: 600;
        -webkit-font-smoothing: antialiased;
        margin-bottom: 1.5rem;
    }

    .section-recompensas .content .bubble b {
        color: #fff;
    }

    .section-recompensas .content .bubble:last-of-type {
        display: block;
        transform: scaleX(-1);
        max-width: 25rem;
        float: right;
    }

    .section-recompensas .content .bubble .emos-ezrewards {
        width: 220px;
        height: auto;
    }







    .titulo-tienda2 {

        font-size: 1.2rem;
        font-weight: 600;
        text-align: center;

    }

    .boton-tienda2 {

        width: auto;
        text-decoration: none;
        background-color: #f5ac0f;
        border-color: #f5ac0f;
        box-shadow: 3px 5px 0 0 #a26f00;
        transition: 3px 5px 0 0 #a26f00;
        transition: border-color 0.3s ease-in-out, background-color 0.3s ease-in-out, color 0.3s ease-in-out;
        border-radius: 30px;
        padding: 0.7rem 1.35rem;
        font-size: 15px;
        font-weight: 500;
        color: #fff;
        text-transform: capitalize;
        text-align: center;
        margin: 20px auto;

    }


    .servicio {

        margin-top: 20px;

    }





    .container-tienda3 {

        width: 100%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        padding: 0 10% 10% 10%;

    }


    .titulo-tienda3 {

        color: #fff;
        padding-left: 0px;
        padding-top: 40px;
        padding-bottom: 20px;

        h2 {

            font-size: 1.6rem;
            margin-bottom: 20px;
            text-align: center;

        }

        p {

            text-align: justify;

        }

    }

    .boton-tienda3 {

        display: flex;
        justify-content: center;
        align-items: center;

        a {

            text-decoration: none;
            background-color: #f5ac0f;
            border-color: #f5ac0f;
            box-shadow: 3px 5px 0 0 #a26f00;
            transition: 3px 5px 0 0 #a26f00;
            transition: border-color 0.3s ease-in-out, background-color 0.3s ease-in-out, color 0.3s ease-in-out;
            border-radius: 30px;
            padding: 0.7rem 1.35rem;
            font-size: 15px;
            font-weight: 500;
            color: #fff;
            text-transform: capitalize;
            text-align: center;
            margin: 10px 0 0 30px;

        }

    }





    .empena {

        text-align: center;
        padding: 8% 10%;

        p {

            padding-top: 10px;
            font-size: 16px;
            text-align: justify;

        }

    }

    .empena2 {

        padding: 0% 10% 8% 10%;

        h3 {

            margin-bottom: 1.6rem;
            text-align: center;

        }

        p {

            font-size: 16px;
            text-align: justify;

        }

    }

    .empena-img {

        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;

        img {

            width: 100%;

        }

    }




    .objetos {

        padding: 4% 10% 0% 10%;

        p {

            margin-top: 10px;
            text-align: justify;

        }

    }

    .objetos-imagen {

        justify-content: center;
        margin-bottom: 30px;

        img {

            width: 100%;

        }

    }





    .sabias1 {

        text-align: center;
        padding: 0 8%;

        h2 {

            font-size: 2rem;

        }

        p {

            margin-top: 20px;
            font-size: 16px;

        }

    }


    .sabias2 {

        padding: 0 8%;

        p {

            font-size: 18px;

        }

    }


    .sabias-imagen {

        display: flex;
        justify-content: center;
        margin-bottom: 30px;

        img {

            width: 73%;

        }

    }




    .tiendas4 {

        text-align: center;
        margin-bottom: 30px;
        padding: 0 10%;


        h2 {

            font-size: 22px;

        }

    }





    .reutilizar {

        margin-top: 20px;

    }


    .reciclar-imagen {

        display: flex;
        justify-content: center;
        margin-bottom: 30px;
        margin-left: auto;
        margin-right: auto;

        img {

            width: 80%;
            height: auto;
            transform: skew(0deg);
            border-radius: 25px;

        }

    }

    .reciclar-texto {


        margin: auto 0;
        padding: 2% 10%;

        h2 {

            color: #0054a3;
            font-size: 2rem;
            font-weight: 700;
            width: 300px;
            text-align: center;

        }

        .rec-sub {

            color: #0054a3;
            font-size: 1.3rem;
            font-weight: 400;
            text-align: justify;

        }

        p {

            margin-top: 20px;
            text-align: justify;

        }

    }




    .casa-empeno {


        h2 {

            margin-bottom: 40px;
            font-size: 2rem;
            color: #0054a3;
            font-weight: 700;

        }

    }


    .casa-empeno-img {

        margin: auto 0;

        img {

            width: 40%;
            height: auto;
            margin-bottom: 10%;

        }

    }

    .casa-empeno-texto {

        padding: 0 6%;

        p {

            text-align: justify;
            font-size: 16px;

        }

        b {

            color: #0054a3;

        }

    }

    .carrusel {

        display: flex;
        padding: 20px 10px;
        height: 80px;
        align-items: center;


    }


    .carrusel2 {

        display: flex;
        padding: 20px 10px;
        height: 150px;
        align-items: center;
        justify-items: center;


        p {

            font-size: 16px;
            width: 50%;
            margin: auto;

        }

    }

}







/* Estilos para pantallas aún más pequeñas, como teléfonos móviles */