.banner {
    position: relative;
    width: 100%;
    margin-bottom: 0;
}

.banner-content {

    position: relative;
    width: 100%;
    background-color: #00224e;
    display: inline-block;
}


.banner-overlay {
    position: absolute;
    transform: skew(-11deg);
    bottom: -20px;
    left: 4%;
    background-color: hsla(209, 100%, 32%, 0.855);
    width: 650px;
    border-radius: 20px;
    padding: 3% 3% 3% 5%;
    align-items: center;
}

.banner-overlay h1 {
    transform: skew(11deg);
    color: #fff;
    text-shadow: 0 2px 18px #00224e;
}

.title {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
    line-height: 1.2;
}

.boton-banner1 {
    transform: skew(11deg);
    text-decoration: none;
    background-color: #0054a3;
    border-color: #0054a3;
    box-shadow: 3px 5px 0 0 #0c0c4f;
    transition: 3px 5px 0 0 #0c0c4f;
    transition: border-color 0.3s ease-in-out, background-color 0.3s ease-in-out, color 0.3s ease-in-out;
    border-radius: 30px;
    padding: 0.7rem 1.35rem;
    font-size: 17px;
    font-weight: 500;
    color: #fff;
    text-transform: capitalize;
    text-align: center;
    margin: 10px;
}

.boton-banner {
    transform: skew(11deg);
    text-decoration: none;
    background-color: #0054a3;
    border-color: #0054a3;
    box-shadow: 3px 5px 0 0 #000970;
    transition: 3px 5px 0 0 #000970;
    transition: border-color 0.3s ease-in-out, background-color 0.3s ease-in-out, color 0.3s ease-in-out;
    border-radius: 30px;
    padding: 0.7rem 1.35rem;
    font-size: 17px;
    font-weight: 500;
    color: #fff;
    text-transform: capitalize;
    text-align: center;
}

.banner-overlay p {
    transform: skew(11deg);
    color: #fff;
    font-weight: 400;
    margin: 0 4rem 2rem 0;
    line-height: 1.5em;
    font-size: 1.5rem;
}

.banner-image {
    width: 100%;
    height: 500px;
    z-index: -1;
    object-fit: cover;
    align-items: center;
}

.container-tienda {
    background-color: #f5ac0f;
    padding: 1% 0% 1% 0%;
    width: 100%;

}

.icono-tienda {

    display: flex;
    align-content: center;
    justify-content: center;

}

.icono-tienda img {

    width: 65px;
    height: 60px;
    margin-right: 10px;

}

.titulo-tienda h2 {

    font-size: 26px;

}

.titulo-tienda p {

    font-size: 20px;

}

.section-recompensas {
    text-align: center;
    padding-bottom: 0rem;
}

.section-recompensas .content .cont-img {
    margin: auto;
    padding: 1rem;
}

.section-recompensas .content .cont-img img {
    max-width: 450px;
    height: auto;
}

.section-recompensas .content .container-bubbles {
    text-align: left;
    margin-top: 2rem;
    max-width: 100%;
}

.section-recompensas .content .container-bubbles .ezplus-logo {
    width: 440px;
    height: auto;
    margin-bottom: 1rem;
}

.section-recompensas .content .bubble {
    background-color: #0054a3;
    color: #fff;
    max-width: 30rem;
    font-size: 2.4rem;
    padding: 0.83em;
    display: inline-block;
    vertical-align: top;
    border-radius: 1.67em 1.67em 1.67em 0;
    font-size: 1.4rem;
    line-height: 1.5em;
    font-weight: 600;
    -webkit-font-smoothing: antialiased;
    margin-bottom: 1.5rem;
}

.section-recompensas .content .bubble b {
    color: #fff;
}

.section-recompensas .content .bubble:last-of-type {
    display: block;
    transform: scaleX(-1);
    max-width: 25rem;
    float: right;
}

.section-recompensas .content .bubble .emos-ezrewards {
    width: 280px;
    height: auto;
}


.titulo-tienda2 {

    font-size: 24px;
    font-weight: 600;

}

.boton-tienda2 {

    width: 230px;
    text-decoration: none;
    background-color: #f5ac0f;
    border-color: #f5ac0f;
    box-shadow: 3px 5px 0 0 #a26f00;
    transition: 3px 5px 0 0 #a26f00;
    transition: border-color 0.3s ease-in-out, background-color 0.3s ease-in-out, color 0.3s ease-in-out;
    border-radius: 30px;
    padding: 0.7rem 1.35rem;
    font-size: 17px;
    font-weight: 500;
    color: #fff;
    text-transform: capitalize;
    text-align: center;
    margin: 10px 0 0 30px;

}


.servicio {

    display: block;
    align-items: center;
    margin-bottom: 30px;
    padding-left: 25px;
    padding-right: 25px;

}

.servicio-icono {

    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    margin-bottom: 25px;

}

.servicio-texto {

    p {

        text-align: justify;

    }

}



.servicio img {

    width: 23vh;
    background-color: #e7e7e7;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;

}


.container-tienda3 {

    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}


.titulo-tienda3 {

    color: #fff;
    padding-left: 50px;
    padding-top: 20px;
    padding-bottom: 20px;

    h2 {

        font-size: 36px;
        margin-bottom: 20px;

    }

}

.boton-tienda3 {

    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 50px;

    a {

        text-decoration: none;
        background-color: #f5ac0f;
        border-color: #f5ac0f;
        box-shadow: 3px 5px 0 0 #a26f00;
        transition: 3px 5px 0 0 #a26f00;
        transition: border-color 0.3s ease-in-out, background-color 0.3s ease-in-out, color 0.3s ease-in-out;
        border-radius: 30px;
        padding: 0.7rem 1.35rem;
        font-size: 17px;
        font-weight: 500;
        color: #fff;
        text-transform: capitalize;
        text-align: center;
        margin: 10px 0 0 30px;

    }

}

.empena {

    text-align: center;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 8%;
    padding-top: 2%;

    p {

        padding-top: 30px;
        padding-bottom: 30px;
        font-size: 18px;

    }

}

.empena2 {

    padding-left: 4%;

    h3 {

        margin-bottom: 20px;

    }

    p {

        font-size: 18px;
        text-align: justify;

    }

}

.empena-img {

    display: flex;
    justify-content: center;
    align-items: center;

    img {

        width: 70%;

    }

}


.objetos {

    padding-left: 40px;
    padding-right: 40px;
    padding-top: 3%;

    p {

        margin-top: 10px;
        text-align: justify;

    }

}

.objetos-imagen {

    justify-content: center;
    margin-bottom: 30px;

    img {

        width: 90%;

    }

}


.sabias1 {

    text-align: center;
    margin-bottom: 3%;
    color: #0054a3;

    h2 {

        font-size: 40px;

    }

    p {

        margin-top: 28px;
        font-size: 18px;

    }

}


.sabias2 {

    padding-left: 4%;
    margin-bottom: 3%;
    color: #0054a3;

    p {

        margin-top: 22px;
        font-size: 22px;

    }

}


.sabias-imagen {

    display: flex;
    justify-content: center;
    margin-bottom: 30px;

    img {

        width: 73%;

    }

}


.tiendas4 {

    text-align: center;
    margin-bottom: 30px;

    h2 {

        margin-bottom: 40px;

    }

}


.reutilizar {

    margin-top: 20px;

}


.reciclar-imagen {

    display: flex;
    justify-content: center;
    margin-bottom: 30px;

    img {

        width: 70%;
        height: 400px;
        transform: skew(-11deg);
        border-radius: 25px;

    }

}

.reciclar-texto {


    margin: auto 0;
    padding-right: 30px;

    h2 {

        color: #0054a3;
        font-size: 48px;
        font-weight: 700;
        width: 300px;

    }

    .rec-sub {

        color: #0054a3;
        font-size: 22px;
        font-weight: 400;
        text-align: justify;

    }

    p {

        margin-top: 20px;
        text-align: justify;

    }

}


.casa-empeno {

    h2 {

        margin-bottom: 40px;
        font-size: 44px;
        color: #0054a3;
        font-weight: 700;

    }

}


.casa-empeno-img {

    margin: auto 0;

    img {

        width: 50%;
        height: auto;

    }

}

.casa-empeno-texto {

    p {

        text-align: justify;
        font-size: 18px;

    }

    b {

        color: #0054a3;

    }

}






.footer {
    background-color: #ffcc00;
    color: #fff;
}

.row-footer {
    justify-content: space-between;
    padding: 20px 40px;
}

.logo {
    max-width: 190px;
    margin-right: 180px;
    margin-bottom: 50px;
    margin-top: 20px;
}

.footer-title {
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: capitalize;
    margin-bottom: 1rem;
    margin-top: 0;
}

.titular {

    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;

}

.footer-titulares {
    color: #0054a3;
    font-size: 1rem;
}

.footer-titulares a {
    color: #0054a3;
    font-size: 1rem;
    text-decoration: none;
}

.footer-copyright {
    margin-top: 20px;
    text-align: center;
    font-size: 1rem;
}

.footer-icons img {

    width: 28px;
    margin-right: 15px;

}

.footer-em a {
    color: #fff;
    text-transform: capitalize;
}

.linea-blanca {
    border-top: 1px solid #fff;
    margin-top: 20px;
    margin-bottom: 20px;
}

.linea-blanca2 {
    border-top: 1px solid #fff;
}

.logoredes {
    max-width: 20px;
}


.section-buscar {
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 200px;
    text-align: center;
    margin-top: 40px;
}

.textos-buscar {
    text-align: center;
    justify-content: center;
    align-items: center;
}

.row-buscar {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 60px;
}

.title-buscar {
    font-size: 2.4rem;
    font-weight: 700;
    color: #00224e;
    line-height: 1.2;
}

.cp-links a {

    color: #fff;

}


.footer-copyright {

    background-color: #0054a3;

}




.carrusel {

    display: flex;
    padding: 20px 10px;
    height: 200px;
    align-items: center;


}


.carrusel2 {

    display: flex;
    padding: 20px 10px;
    height: 200px;
    align-items: center;
    margin-top: 20px;


    p {

        font-size: 24px;
        width: 100%;
        color: #fff;
        margin: auto;
        text-align: center;

    }

}