{% extends "index" %}

{% block content %}

	{% for bannerPrincipalEntry in entry.bannerPrincipal %}

		<section class="banner-content">
			<div
				class="banner-overlay">
				<!-- Div overlay para colocar el texto y los botones -->
				<h1 class="title">{{ bannerPrincipalEntry.titulo }}</h1>
				<p>{{ bannerPrincipalEntry.subtitulo }}</p>


				{% if bannerPrincipalEntry.boton %}

					<a href="{{ bannerPrincipalEntry.boton }}" class="boton-tienda2">{{ bannerPrincipalEntry.boton.text }}</a>

					<p>HOoa</p>
				{% endif %}


				{% if bannerPrincipalEntry.boton2 %}

					<a href="{{ bannerPrincipalEntry.boton2 }}" class="boton-tienda2">{{ bannerPrincipalEntry.boton2.text }}</a>

				{% endif %}


			</div>

			{% if bannerPrincipalEntry.imagen %}
				<img src="{{ bannerPrincipalEntry.imagen[0].url }}" alt="{{ bannerPrincipalEntry.imagen[0]}}" class="banner-image">
			{% endif %}


		</section>

	{% endfor %}


	{% for encuentraTiendaEntry in entry.encuentraTienda %}

		<section class="container-tienda">

			<div class="row container">

				<div class="col-md-1 col-lg-1 col-sm-12 icono-tienda">
					{% if encuentraTiendaEntry.icono %}

						<img src="{{ encuentraTiendaEntry.icono[0].url }}" alt="{{ encuentraTiendaEntry.icono[0] }}">

					{% endif %}
				</div>

				<div class="col-md-7 col-lg-7 col-sm-12 titulo-tienda">

					<h2>{{ encuentraTiendaEntry.titulo }}</h2>

					<p>{{ encuentraTiendaEntry.subtitulo }}</p>

				</div>

				<div class="col-md-3 col-lg-3 col-sm-12 boton-tienda">

					{% if encuentraTiendaEntry.boton %}

						<a href="{{ encuentraTiendaEntry.boton }}" class="boton-banner ">{{ encuentraTiendaEntry.boton.text }}</a>

					{% endif %}

				</div>

			</div>

		</section>

	{% endfor %}


	{% for rewadsEntry in entry.rewads %}

		<section class="container section-recompensas">

			<div class="row content">

				<div class="col-sm-12 col-md-6 col-lg-6 container-bubbles">


					{% if rewadsEntry.rewards %}

						<img src="{{ rewadsEntry.rewards[0].url }}" alt="{{ rewadsEntry.rewards[0] }}" class="ezplus-logo">


					{% endif %}

					<p class="bubble">{{rewadsEntry.texto1}}</p>

					<p class="bubble">{{rewadsEntry.texto2}}</p>

					<p class="bubble">{{rewadsEntry.texto3}}
						<b class="fw-bold">MÁS BENEFICIOS!</b>
					</p>

					<p class="bubble">
						<img class="emos-ezrewards" src="/uploads/loyalty-rewards-emogis.webp" alt="conoce-nuestro-programa-ez+-recompensas" width="300px" height="300px">
					</p>

				</div>

				<div class="col-sm-12 col-md-6 col-lg-6 cont-img">


					{% if rewadsEntry.queEsperas %}

						<img class="img-titulo img-fluid" src=" {{ rewadsEntry.queEsperas[0].url }} " alt=" {{ rewadsEntry.queEsperas[0] }} ">

					{% endif %}


				</div>

			</div>

		</section>


	{% endfor %}


	{% for encuentraTienda2Entry in entry.encuentraTienda2 %}

		<section class="container-tienda2">

			<div class="row container">

				<div class="row titulo-tienda2">

					<p>{{ encuentraTienda2Entry.titulo }}</p>

				</div>

				<div class="row">

					{% if encuentraTienda2Entry.boton %}


						<a href="{{ encuentraTienda2Entry.boton }}" class="boton-tienda2 ">{{ encuentraTienda2Entry.boton.text }}</a>


					{% endif %}

				</div>

			</div>

		</section>

	{% endfor %}


	{% for serviciosEntry in entry.servicios %}


		<section class="container">

			<div class="content row">

				<div class="row">

					<h2>{{ serviciosEntry.titulo }}</div>

					<p>{{ serviciosEntry.subtitulo }}</p>

				</div>

				<div class="row content">

					<div class="col-md-4 col-lg-4 col-sm-12 servicio">

						<div class="row servicio-icono">

							{% if serviciosEntry.imagen1 %}

								<img src=" {{ serviciosEntry.imagen1[0].url }} " alt=" {{ serviciosEntry.imagen1[0] }} ">

							{% endif %}

						</div>

						<div class="row servicio-texto">


							<h3>{{serviciosEntry.servicio1}}</h3>

							<p>{{serviciosEntry.texto1}}</p>

							{% if serviciosEntry.link1 %}

								<a href="#" href="{{serviciosEntry.link1}}">{{serviciosEntry.link1.text}}</a>

							{% endif %}


						</div>


					</div>

					<div class="col-md-4 col-lg-4 col-sm-12 servicio">

						<div class="row servicio-icono">

							{% if serviciosEntry.imagen2 %}

								<img src=" {{ serviciosEntry.imagen2[0].url }} " alt=" {{ serviciosEntry.imagen2[0] }} ">

							{% endif %}

						</div>

						<div class="row servicio-texto">

							<h3>{{serviciosEntry.servicio2}}</h3>

							<p>{{serviciosEntry.texto2}}</p>

							{% if serviciosEntry.link2 %}

								<a href="#" href="{{serviciosEntry.link2}}">{{serviciosEntry.link2.text}}</a>

							{% endif %}


						</div>


					</div>


					<div class="col-md-4 col-lg-4 col-sm-12 servicio">

						<div class="row servicio-icono">

							{% if serviciosEntry.imagen3 %}

								<img src=" {{ serviciosEntry.imagen3[0].url }} " alt=" {{ serviciosEntry.imagen3[0] }} ">

							{% endif %}

						</div>

						<div class="row servicio-texto">

							<h3>{{serviciosEntry.servicio3}}</h3>

							<p>{{serviciosEntry.texto3}}</p>

							{% if serviciosEntry.link3 %}

								<a href="#" href="{{serviciosEntry.link3}}">{{serviciosEntry.link3.text}}</a>

							{% endif %}

						</div>

					</div>

				</div>

			</div>

		</section>

	{% endfor %}


	{% for encuentraTienda3Entry in entry.encuentraTienda3 %}

		<section class="container-tienda3" style="background-image: url('./uploads/guateprenda_promociones.webp');">


			<div class="row container">

				<div class="col-md-9 col-lg-9 col-sm-12 titulo-tienda3">

					<h2>{{ encuentraTienda3Entry.titulo }}</h2>


					<p>{{ encuentraTienda3Entry.subtitulo }}</p>


					<p>{{ encuentraTienda3Entry.subtitulo2 }}</p>


				</div>

				<div class="col-md-3 col-lg-3 col-sm-12 boton-tienda3">


					{% if encuentraTienda3Entry.boton %}


						<a href="{{ encuentraTienda3Entry.boton }}">{{ encuentraTienda3Entry.boton.text }}</a>


					{% endif %}

				</div>

			</div>

		</section>

	{% endfor %}


	{% for empenaYCompraEntry in entry.empenaYCompra %}

		<section class="container">

			<div class="row">

				<div class="empena">
					<h2>{{empenaYCompraEntry.titulo}}</h2>

					<p>{{empenaYCompraEntry.subtitulo}}</p>

					{% if empenaYCompraEntry.boton %}

						<a href=" {{empenaYCompraEntry.boton}}" class="boton-tienda2">{{empenaYCompraEntry.boton.text}}</a>


					{% endif %}
				</div>

				<div class="col-lg-6 col-md-6 col-sm-12 empena2">

					<h3>{{empenaYCompraEntry.subtitulo2}}</h3>

					<p>{{empenaYCompraEntry.texto}}</p>

				</div>

				<div class="col-lg-6 col-md-6 col-sm-12 empena-img">

					{% if empenaYCompraEntry.imagen %}

						<img src="{{empenaYCompraEntry.imagen[0].url}}" alt="{{empenaYCompraEntry.imagen[0]}}">

					{% endif %}

				</div>

			</div>

		</section>

	{% endfor %}


	{% for objetosEntry in entry.objetos %}

		<section class="container">

			<div class="row content">

				<div class="col-md-4 col-lg-4 col-sm-12 objetos">

					<div class="row objetos-imagen">

						{% if objetosEntry.imagen1 %}

							<img src=" {{ objetosEntry.imagen1[0].url }} " alt=" {{ objetosEntry.imagen1[0] }} ">

						{% endif %}

					</div>

					<div class="row">

						<h3>{{objetosEntry.titulo}}</h3>

						<p>{{objetosEntry.texto}}</p>

					</div>

				</div>


				<div class="col-md-4 col-lg-4 col-sm-12 objetos">

					<div class="row objetos-imagen">

						{% if objetosEntry.imagen2 %}

							<img src=" {{ objetosEntry.imagen2[0].url }} " alt=" {{ objetosEntry.imagen2[0] }} ">

						{% endif %}

					</div>

					<div class="row">

						<h3>{{objetosEntry.titulo2}}</h3>

						<p>{{objetosEntry.texto2}}</p>

					</div>

				</div>


				<div class="col-md-4 col-lg-4 col-sm-12 objetos">

					<div class="row objetos-imagen">

						{% if objetosEntry.imagen3 %}

							<img src=" {{ objetosEntry.imagen3[0].url }} " alt=" {{ objetosEntry.imagen3[0] }} ">

						{% endif %}

					</div>

					<div class="row">

						<h3>{{objetosEntry.titulo3}}</h3>


						<p>{{objetosEntry.texto3}}</p>

					</div>

				</div>

			</div>

		</section>

	{% endfor %}


	{% for sabiasQueEntry in entry.sabiasQue %}

		<section class="container row">

			<div class="sabias1">

				<h2>{{sabiasQueEntry.titulo}}</h2>

				<p>{{sabiasQueEntry.texto}}</p>

			</div>

			<div class="col-lg-6 col-md-6 col-sm-12 sabias2">

				<p>
					<b>1</b>
					{{sabiasQueEntry.paso1}}</p>

				<p>
					<b>2</b>
					{{sabiasQueEntry.paso2}}</p>


				<p>
					<b>3</b>
					{{sabiasQueEntry.paso3}}</p>


			</div>

			<div class="col-lg-6 col-md-6 col-sm-12 sabias-imagen">

				<img src="{{sabiasQueEntry.imagen[0].url}}" alt="{{sabiasQueEntry.imagen[0]}}"/>

			</div>

			<div class="tiendas4">

				<h2>{{sabiasQueEntry.subtitulo}}</h2>

				{% if sabiasQueEntry.boton %}

					<a href="{{sabiasQueEntry.boton}}" class="boton-tienda2">{{sabiasQueEntry.boton.text}}</a>


				{% endif %}

			</div>

		</section>

	{% endfor %}


	{% for reciclarEntry in entry.reciclar %}

		<section class="reutilizar">

			<div class="container row">

				<div class="col-ms-12 col-lg-6 col-md-6 reciclar-imagen">

					{% if reciclarEntry.imagen %}

						<img src="{{reciclarEntry.imagen[0].url}}" alt="{{reciclarEntry.imagen[0]}}"/>

					{% endif %}

				</div>

				<div class="col-ms-12 col-lg-6 col-md-6 reciclar-texto">

					<div class="reciclar-texto-2">
						<h2>{{reciclarEntry.titulo}}</h2>

						<p class="rec-sub">{{reciclarEntry.subtitulo}}</p>

						<p>{{reciclarEntry.texto}}</p>
					</div>

				</div>

			</div>

		</section>

	{% endfor %}


	<section id="carouselExampleControls" class="carousel slide carrusel2" data-ride="carousel" style="background-image: url('https://guateprenda.com/uploads/banner_testimonios.webp')">

		<div class="carousel-inner">

			<div class="carousel-item active">
				<div class="row">
					<div class="col">
						<p>"Mi experiencia en esta casa de empeño ha sido bastante buena, me han ayudado y atendido de primera".</p>
					</div>

				</div>
			</div>

			<div class="carousel-item">
				<div class="row">
					<div class="col">
						<p>"Muy buen servicio al cliente en esta casa de empeño, muy atentos conmigo. Soy cliente desde hace casi 15 años".</p>

					</div>

				</div>
			</div>


			<div class="carousel-item">
				<div class="row">
					<div class="col">
						<p>"10/10, muy recomendable. Me encanta el servicio de atención en esta casa de empeño, muy atentos y cordiales".</p>


					</div>

				</div>
			</div>


			<div class="carousel-item">
				<div class="row">
					<div class="col">
						<p>"Mi experiencia en esta casa de empeño ha sido bastante buena, me han ayudado y atendido de primera".</p>

					</div>

				</div>
			</div>


		</div>

		<a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
			<span class="carousel-control-prev-icon" aria-hidden="true"></span>
			<span class="sr-only">Previous</span>
		</a>
		<a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
			<span class="carousel-control-next-icon" aria-hidden="true"></span>
			<span class="sr-only">Next</span>
		</a>
	</section>


	{% for casasEmpenoEntry in entry.casasEmpeno %}

		<section class="container">

			<div class="row content casa-empeno">

				<h2>{{casasEmpenoEntry.titulo}}</h2>

				<div class="col-md-5 col-lg-5 col-sm-12 casa-empeno-img">

					{% if casasEmpenoEntry.imagen %}

						<img src="{{casasEmpenoEntry.imagen[0].url}}" alt="{{casasEmpenoEntry.imagen[0]}}"/>

					{% endif %}

				</div>

				<div class="col-md-7 col-lg-7 col-sm-12 casa-empeno-texto">

					<p>{{casasEmpenoEntry.texto1}}</p>

					<p>{{casasEmpenoEntry.texto2}}
						<b>{{casasEmpenoEntry.negritas}}</b>
						{{casasEmpenoEntry.continuacion}}</p>

				</div>

			</div>

		</section>

	{% endfor %}


	<section id="carouselExampleControls" class="carousel slide carrusel" data-ride="carousel">
		<div class="carousel-inner">

			<div class="carousel-item active">
				<div class="row">
					<div class="col">
						<img class="d-block w-100" src="https://guateprenda.com/uploads/usa-pawn-logo.webp" alt="First slide">
					</div>
					<div class="col">
						<img class="d-block w-100" src="https://guateprenda.com/uploads/premier-pawn.webp" alt="Second slide">
					</div>
					<div class="col">
						<img class="d-block w-100" src="https://guateprenda.com/uploads/ez-jewelry.webp" alt="Third slide">
					</div>
					<div class="col">
						<img class="d-block w-100" src="https://guateprenda.com/uploads/easy-pawn-new-logo.webp" alt="Fourth slide">
					</div>
					<div class="col">
						<img class="d-block w-100" src="https://guateprenda.com/uploads/ez-corp-logo.webp" alt="Fifth slide">
					</div>
				</div>
			</div>

			<div class="carousel-item">
				<div class="row">
					<div class="col">
						<img class="d-block w-100" src="https://guateprenda.com/uploads/ez-plus-rewards.webp" alt="First slide">
					</div>
					<div class="col">
						<img class="d-block w-100" src="https://guateprenda.com/uploads/metro-pawn-logo.webp" alt="Second slide">
					</div>
					<div class="col">
						<img class="d-block w-100" src="https://guateprenda.com/uploads/Jerrys-logo.webp" alt="Third slide">
					</div>
					<div class="col">
						<img class="d-block w-100" src="https://guateprenda.com/uploads/pawn-plus-logo.webp" alt="Fourth slide">
					</div>
					<div class="col">
						<img class="d-block w-100" src="https://guateprenda.com/uploads/Cash-Converters-1.webp" alt="Fifth slide">
					</div>
				</div>
			</div>


			<div class="carousel-item">
				<div class="row">
					<div class="col">
						<img class="d-block w-100" src="https://guateprenda.com/uploads/Cash-Pawn-1.webp" alt="First slide">

					</div>
					<div class="col">
						<img class="d-block w-100" src="https://guateprenda.com/uploads/max-it-logo.webp" alt="Second slide">

					</div>
					<div class="col">
						<img class="d-block w-100" src="https://guateprenda.com/uploads/Easy-cash-pawn.webp" alt="Third slide">

					</div>
					<div class="col">
						<img class="d-block w-100" src="https://guateprenda.com/uploads/Guateprenda-1.webp" alt="Fourth slide">

					</div>
					<div class="col">
						<img class="d-block w-100" src="https://guateprenda.com/uploads/MX-Honduras-1.webp" alt="Fifth slide">

					</div>
				</div>
			</div>


			<div class="carousel-item">
				<div class="row">
					<div class="col">
						<img class="d-block w-100" src="https://guateprenda.com/uploads/cash-apoyo-logo.webp" alt="First slide">


					</div>
					<div class="col">
						<img class="d-block w-100" src="https://guateprenda.com/uploads/MONTEPIO-logo.webp" alt="Second slide">


					</div>
					<div class="col">
						<img class="d-block w-100" src="https://guateprenda.com/uploads/Bazareno-1.webp" alt="Third slide">


					</div>
					<div class="col">
						<img class="d-block w-100" src="https://guateprenda.com/uploads/Presta-Dinero-1.webp" alt="Fourth slide">


					</div>
					<div class="col">
						<img class="d-block w-100" src="https://guateprenda.com/uploads/EF1.webp" alt="Fifth slide">


					</div>
				</div>
			</div>


		</div>

		<a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
			<span class="carousel-control-prev-icon" aria-hidden="true"></span>
			<span class="sr-only">Previous</span>
		</a>
		<a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
			<span class="carousel-control-next-icon" aria-hidden="true"></span>
			<span class="sr-only">Next</span>
		</a>
	</section>

	<section class="section-buscar" style="background-image: url('https://guateprenda.com/uploads/mapa-guateprenda.webp')">

		<div class="container">
			<div class="row content">
				<div class="col-lg-12 col-md-4">
					<div class="row-buscar content">
						<div class="textos-buscar">
							<h2 class="main-title">Encuentra Tu Tienda Guateprenda Más Cercana</h2>

							<a href="https://guateprenda.com/encuentra-tu-tienda" class="btn-orange">Encuentra Tu Tienda</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>


	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" defer></script>

	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" defer></script>

	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" defer></script>


{% endblock %}
