<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="/css/app.css" rel="stylesheet">
		<meta name="robots" content="noindex">
		<link rel="preload" href="app.css" as="style">

		<link href='https://fonts.googleapis.com/css?family=Playfair+Display:700|Fauna+One|Pacifico|Merriweather+Sans:400,700' rel='stylesheet' type='text/css'>
		<title>Guateprenda</title>
	</head>
	<body>
		{% set entry = craft.entries.section('homepage').one() %}
		{% if entry %}
			<!-- Navbar -->
			<nav class="navbar navbar-expand-lg navbar-white">
				<div
					class="container">
					<!-- Aquí va tu logo -->
					<a class="navbar-brand" href="#">
						{% for headerEntry in entry.header %}
							{% if headerEntry.logo is defined and headerEntry.logo|length %}
								<img src="{{ headerEntry.logo[0].url }}" alt="{{ headerEntry.logo[0].title }}" class="logo-empeno">
							{% endif %}
						{% endfor %}
					</a>
					<!-- Botón de hamburguesa -->
					<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
					<!-- Menú -->
					<div class="collapse navbar-collapse" id="navbarNav">
						<ul class="navbar-nav">
							{% for headerEntry in entry.header %}
								<li class="nav-item">
									<a class="nav-link" href="#">{{ headerEntry.seccion1 }}</a>
								</li>
								{% if headerEntry.seccion3 is defined and headerEntry.seccion3 is not null %}
									<li class="nav-item">
										<a class="nav-link" href="{{ headerEntry.seccion3.url }}">{{ headerEntry.seccion3.text }}</a>
									</li>
								{% endif %}
								{% if headerEntry.seccion4 is defined and headerEntry.seccion4 is not null %}
									<li class="nav-item">
										<a class="nav-link" href="{{ headerEntry.seccion4.url }}">{{ headerEntry.seccion4.text }}</a>
									</li>
								{% endif %}
								{% if headerEntry.seccion5 is defined and headerEntry.seccion5 is not null %}
									<li class="nav-item">
										<a class="nav-link" href="{{ headerEntry.seccion5.url }}">{{ headerEntry.seccion5.text }}</a>
									</li>
								{% endif %}
							{% endfor %}
						</ul>
					</div>
				</div>
			</nav>

			<!-- Main content -->
			<main>
				{% block content %}{% endblock %}
			</main>

			<!-- Footer -->
			<footer class="footer">
				<div class="container">
					<div class="logo">
						<a href="https://guateprenda.com/">
							<img src="https://guateprenda.com/uploads/logo_guateprenda_blanco.webp" alt="guateprenda-casa-de-empeño-logo" title="guateprenda-casa-de-empeño-logo" width="100%" height="100%">
						</a>
					</div>
					<div class="row footer-columns">
						<div class="col-sm-6 col-md-4 col-lg-3 col-xl-3 columns">
							<ul>
								<li class="footer-titulares">
									<p class="titular">Empeñar</p>
									<p>
										<a href="https://guateprenda.com/como-empenar">¿Cómo empeñar?</a>
									</p>
									<p>
										<a href="https://guateprenda.com/que-puedo-empenar">¿Qué puedo empeñar?</a>
									</p>
									<p>
										<a href="https://guateprenda.com/comprar-en-tienda">¿Cómo comprar?</a>
									</p>
								</li>
							</ul>
						</div>
						<div class="col-sm-6 col-md-4 col-lg-3 col-xl-3 columns">
							<ul>
								<li class="footer-titulares">
									<p class="titular">Tienda</p>
									<p>
										<a href="https://guateprenda.com/encuentra-tu-tienda">Comprar en la tienda</a>
									</p>
									<p>
										<a href="https://guateprenda.com/apartado">Apartado</a>
									</p>
									<p>
										<a href="https://guateprenda.com/programa-ez">Programa Ez+</a>
									</p>
								</li>
							</ul>
						</div>
						<div class="col-sm-6 col-md-4 col-lg-3 col-xl-3 columns">
							<ul>
								<li class="footer-titulares">
									<p class="titular">Guateprenda</p>
									<p>
										<a href="https://guateprenda.com/nuestra-historia">Nosotros</a>
									</p>
									<p>
										<a href="https://guateprenda.com/vacantes">Vacantes</a>
									</p>
									<p>
										<a href="https://guateprenda.com/contacto">Contáctanos</a>
									</p>
									<p>
										<a href="https://guateprenda.com/preguntas-frecuentes">Preguntas Frecuentes</a>
									</p>
									<p>
										<a href="https://guateprenda.com/blog">Blog</a>
									</p>
								</li>
							</ul>
						</div>
						<div class="col-sm-6 col-md-4 col-lg-3 col-xl-3 column">
							<ul>
								<li class="footer-titulares">
									<p class="titular">Síguenos</p>
								</li>
								<li class="footer-icons d-flex">
									<figure>
										<a href="https://www.instagram.com/guateprenda_/" target="_blank" rel="noreferrer noopener"><img src="https://guateprenda.com/uploads/Instagram.png" alt="guateprenda-instagram" title="guateprenda-instagram"/></a>
									</figure>
									<figure>
										<a href="https://www.facebook.com/guateprenda/" target="_blank" rel="noreferrer noopener"><img src="https://guateprenda.com/uploads/facebook.png" alt="guateprenda-facebook" title="guateprenda-facebook"/></a>
									</figure>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="footer-copyright">
					<div class="container footer-leyend">
						<p>
							<em>Las transacciones de empeño se basan en determinar el valor del artículo para brindar un avalúo correcto y el cliente elige uno de los planes disponibles de pago. Por ejemplo, un empeño valorado en Q100.00 con plazo mensual pagará para renovar un mes Q22.4. Para retirar su prenda por completo deberá pagar los cargos del mes más la cantidad prestada, esto es igual a Q100.00 + Q22.4. en total el pago será de Q122.40 (Aplica para Mercancía General*).
								<br/>Al realizar el pago por completo el cliente titular recupera su artículo. *Empeño de línea Blanca y joyas varía según la categoría.</em>
						</p>
					</div>
					<hr>
					<div class="container content">
						<div class="copyright">
							<p>Copyright@2023 Guateprenda</p>
						</div>
						<div class="cp-links">
							<p>
								<a href="https://guateprenda.com/uploads/gt-ezmas-terminos-y-condiciones-recompensas.pdf" target="_blank">Ez+ Términos y Condiciones</a>
							</p>
						</div>
					</div>
				</div>
			</footer>
		{% else %}
			<p>No se encontró la entrada.</p>
		{% endif %}

		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" defer></script>

	</body>
</html>
